.counter{
  padding: 20px;
  background: #21243a;
  border-radius: 10px;
  min-width: 800px;
  color: #fff;
  .title{
    font-size: 20px;
  }
  .num {
    padding: 10px;
    color: #fff;
    font-size: 18px;
  }
}