$red: red;
$blue: #1890ff;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin content {
   padding: 20px;
   background: #21243a;
   border-radius: 10px;
   min-width: 800px;
}

// @mixin ellipsis($sum) {
//   white-space: normal;
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: $sum;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }