.link{
  display: block;
  border: 1px solid #1890ff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  &:hover{
    background: rgba(24, 144, 255, 0.3);
  }
}

