// 优化引入配置 在设置sass-loader中options的includePaths属性
// @import './styles/var.scss'; 可以修改为 @import 'var.scss';
// @import './styles/var.scss';
@import 'base.scss';
@import 'var.scss';
// @import 'scrollbar.scss';

html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
}