// 优化引入配置 在设置sass-loader中options的includePaths属性
// @import './styles/var.scss'; 可以修改为 @import 'var.scss';
// @import './styles/var.scss';
@import 'var.scss';

.test {
  color: $red;
  font-size: 48px;
  width: 150px;
  @include ellipsis;

  .test2 {
    color: red;
  }
}