.layout{
  background: #131629;
  .header{
    border-top: 4px solid #1890ff;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #21243a;
    height: 68px;
    .menu {
      width: 1120px;
      margin: 0 auto;
      line-height: 64px;
      background: #21243a;
      font-size: 16px;
      .logo{
        width: 35px;
        height: 35px;
      }
      .text{
        text-align: center;
        width: 35px;
        height: 100%;
      }
    }
  }
  .content{
    width: 1120px;
    margin: 100px auto;
    .showarea{
      padding: 20px;
      background: #21243a;
      border-radius: 10px;
      min-width: 800px;
    }
  }
  .footer{
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #21243a;
    color: #fff;
    border-top: 1px solid #1890ff;
    .text{
      color: #59cfdc
    }
  }
}