@import 'var.scss';
.articleitem{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: 140px;
    padding: 15px;
    // border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    background-color: #fff;
    .left {
        flex: 1;
        overflow: hidden;
        &-title {
            @include ellipsis;
            display: block;
            color: #333;
            height: 30px;
            font-size: 18px;
            font-weight: 600;
        }
        &-content {
            @include ellipsisnum(2);
            height: 50px;
            font-size: 16px;
        }
        &-tip {
            text-align: right;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            padding-right: 10px;
            &-tag{
                float: left;
            }
        }
    }
    .right {
        width: 150px;
        height: 110px;
        .img{
            width: 150px;
            height: 110px;
        }
    }
}
